.titulo-autora{
    font-family: Roboto;
    color: #ffffff;
    font-size: 50px;
    background: linear-gradient(to right,        
        #A6246C 15%, 
        #BF5E9D 35%,    
        #F2935C 45%,
        #F26835 65%,
        #BF2626 75%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: Roboto;
    margin-top: 3em;
    margin-left: 5em;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.busca{
    align-items: center;
    margin-left: 31em;
    background-color: #ffff;
    border-color: #A6246C;
    transition-property: background-color, opacity, border;
    transition-duration: 3s;
    margin-top: 5em;
    padding-right: 5em;
    padding-left: 5em;
    border-radius: 20px;
}
.busca:hover{
    background-color: opacity;
    border: #A6246C;
}
.button-busca{
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20px;
    background-color: #A6246C;
    transition-property: background-color, border;
    transition-duration: 3s;
    color:#ffff;
}
.button-busca:hover{
    border-color: #A6246C;
}
.main-autora {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    margin-top: auto;  
}
.main-autora .card{
    background-color: #E5E5E5;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10% 5% 10%;
    text-align: justify;
}
.capa{    
    border-radius: 20px;   
    margin-bottom: 1em;
}
p{
    margin-bottom: 1em; 
}
img{
    width: 100%;
    max-width: 200px;
}

.main-autora .card img{
    width: 50%;
    height: 80%;
}
card-descricao p{
    border-radius: 20em;
    background-color: #E5E5E5; 
    
}
button{
    border-color:#E5E5E5;
    color: #ffff;
    background-color: #A6246C;
    border-radius: 10em;
    padding-left:2em;
    padding-right:2em;
    transition-property: border-color;
    transition-duration: 1s;
}

button:hover{
    border-color: #A6246C;
}


