.busca{
    align-items: center;
    margin-bottom:25em;
    background-color: #A6246C;
    transition-property: background-color, opacity, border;
    transition-duration: 1s;
}
.busca:hover{
    background-color: opacity;
    border: #A6246C;
}
.main-autora {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    margin-top: auto;    
}
.main-autora .card{
    background-color: #E5E5E5;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 5% 10%;
    text-align: justify;
}
.capa > img{
    border-radius: 15px;
    width: 100%;
    max-width: 100px;
}

.main-autora .card img{
    width: 50%;
    height: 80%;
}

.main-autora .card h2{
    color:#A6246C;
}
