.sobremimParagrafo p {
    color: black;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: justify;
    padding-top: 4em;
    width: 500px;
    height: 200px;
    background-color: #A6246C;
    border-radius: 50px;
    margin-left: 43em;
    margin-bottom: 2em;
    justify-content: center;
}
.sobremimConteudo{
    padding-bottom: 2em;
}
.imagem2{
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    margin-left: 37em;
    border-radius: 50px;
    padding-bottom: 1em;

}
.socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.linkedin .instagram .github{
    transition-property: background-color;
    transition-duration: 1s;
}
.linkedin .instagram .github:hover{
    background-color: black;
}
