
.aboutmeParagraph p {    
    width: 500px;
    height: 250px;
    background-color: #A6246C;
    border-radius: 50px;
    margin-left: 45em;
    margin-bottom: 1em;
    margin-top: -22em;
    padding: 5em 5em 5em 5em;
    padding-top: 2em;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    color: #ffff;
}
.contentAboutme{
    padding-bottom: 10em;
    background-color: #E5E5E5;
}
.image{
    width: 200px;
    margin-top: 12em;
    margin-left: 25em;
    border-radius: 50px;   
    margin-bottom: 4em;
}
.socialMedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 26em;
}
