.footer {
    display: flex;
    width: 100%;
    height: 40px;
    background:#BF2626;
    position: fixed;
    bottom: 0;    
    align-items: center;
    justify-content: center;
    
}
.caixa-footer{
    position: fixed;
}
.paragrafoFooter{
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    font: Roboto;
    color: #FFFF;
    margin-top: 1em;
}