
.Projetoconteudo{
    margin-top: 14em;
    margin-left: 24em;
    width: 500px;
    height: 200px;
    background: #F2935C;
    border-radius: 60px;
}

.projetoParagrafo p {
    text-align: justify;
    padding-top: 10px;
    color: black;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
}