*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5e5e5;
    width: 100%;
}
body, input, button, textarea{
    font: 600 18px Roboto, sans-serif;
}
p{
    font-size: 15px;
    font-weight: 400;
}