*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFF;
    width: 100%;
}
body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}
p{
    font-size: 15px;
}