.root{ background-image: -o-repeating-linear-gradient( to bottom,
    #BF2626, 
    #F26835,
    #F2935C, 
    #ffff, 
    #BF5E9D, 
    #A6246C
    );
    background-attachment: fixed;
    width: 100%;
}
.title {
    font-size: 40px;
    background: linear-gradient(to right,        
        #A6246C 5%, 
        #BF5E9D 10%,    
        #F2935C 15%,
        #F26835 20%,
        #BF2626 25%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: Roboto;
    margin-top: 8em;
    margin-left: 5em;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.title:hover{
    color: #ffff;
}






