.linear-banner{
    background: linear-gradient(to left,        
        #A6246C 5%, 
        #BF5E9D 25%,    
        #F2935C 35%,
        #F26835 55%,
        #BF2626 75%
    );    
    padding-bottom: 6em;
    padding-top: 5em;
}
.title {
    font-size: 40px;
    background: linear-gradient(to left,        
        #e5e5e5 5%, 
        #BF5E9D 10%,    
        #F2935C 15%,
        #F26835 20%,
        #BF2626 25%,
        #e5e5e5 30%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: Roboto;
    margin-bottom: 10em;
    margin-top: 10em;
    margin-left: 5em;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.lesbooks{
    margin-top: -3em;
}
